.nav_ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #088F8F;
}

.nav_li 
{
  float: left;
}
.nav_li:hover 
{
  background-color: #7FFFD4;
}
.nav_a 
{
  display: block;
  color:#7FFFD4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav_a:hover
{
  color:white;
  font-weight: bold;
}

#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #000000;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
}

#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}


