.main-nav 
{
  grid-area: nav; 
  background-color:lightblue;
  padding: 2em 0;
  font-size: 150%;
}
.nav_ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}
.nav_li 
{
    float: left;
}
 
.nav_a 
{
    display: block;
    padding: 8px;
 }