.nav_ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}
.nav_li 
{
  float: left;

}
.nav_li:hover {
  background-color: #111;
}
.nav_a 
{
  display: block;
  color:green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

